<title>Jenkins Builds</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="refresh" content="120" />
<link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{bootstrap/css/bootstrap-theme.min.css}"/>
<link rel="stylesheet" th:href="@{bootstrap/css/custom.css}"/>
<link rel="stylesheet" th:href="@{css/font.css}"/>
<link rel="stylesheet" th:href="@{css/prefetch.css}"/>
<link rel="stylesheet" th:href="@{css/stylesheet.css}"/>