@import "font.css";
body {
  background: #f5f5f5;
}

div {
  font-family: 'Montserrat';
  color: #fff
}

.swimlane {
  padding: 20px;
  padding-left: 100px;
}

.swimlane .headline {
  font-size: 30px;
  color: #333333
}

.container {
  padding: 10px;
  width: 100%;
}

.box {
  margin: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  width: 300px;
  display: inline-block;
}

.build {
  margin: 5px;
  position: absolute;
  padding: 10px;
  background: #1B213D;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  color: #FFFFFF;
}

.info {
  margin: 10px;
  margin-bottom: 5px;
  padding: 20px;
}

.info * {
  vertical-align: middle;
}

.heading {
  font-size: 30px;
  padding-top: 20px;
}

.subheading {
  font-size: 12px;
  padding: 5px;
}

.committers {
  font-size: 12px;
  padding: 5px;
}

.details {
  padding: 10px;
  padding-top: 0px;
}

.history {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.health {
  height: 100%;
	font-size: 10px;
	text-align: center;
	padding: 10px;
	display: table-cell;
}

.stable {
  background: #009900
}

.unstable {
  background: #D77C00
}

.failed {
  background: #990000;
}

.aborted {
  background: #666666;
}

.green{
    background: #009900;
}
.blue{
    background: #009900;
}
.green_anime{
    background: #009900;
}
.blue_anime{
    background: #009900;
}
.yellow{
    background: #D77C00;
}
.yellow_anime{
    background: #D77C00;
}
.red{
    background: #990000;
}
.red_anime{
    background: #990000;
}
.disabled {
    background: #666666;
}
.aborted {
    background: #666666;
}
.notbuilt{
    background: #666666;
}
.disabled_anime {
    background: #666666;
}
.aborted_anime {
    background: #666666;
}
.notbuilt_anime{
    background: #666666;
}
