@import "font.css";
body {
  background: #f5f5f5;
}

div {
  font-family: 'Montserrat';
  color: #fff
}

.swimlane {
  padding: 20px;
  padding-left: 100px;
}

.swimlane .headline {
  font-size: 30px;
  color: #333333
}

.container {
  padding: 10px;
  width: 100%;
}

.box {
  margin: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  width: 450px;
  display: inline-block;
}

.grid {
  display: flex;
}

.build {
  margin-right: -2px;
  background: #1B213D;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.build span {
  transform: rotate(270deg);
}

.info {
  margin: 3px;
  padding: 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.info * {
  vertical-align: middle;
}

.heading {
  font-size: 24px;
  height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subheading {
  font-size: 12px;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.committers {
  font-size: 12px;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image {
  height: 20px;
  padding-right: 5px;
  float: left;
}

.gifimage {
    height: 15%;
}

.gifbox{
    padding: 3px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.blue{
    background-color: #009900;
}
.yellow{
    background-color: #D77C00;
}
.red{
    background-color: #990000;
}
.disabled {
    background-color: #666666;
}
.aborted {
    background-color: #666666;
}
.notbuilt{
    background-color: #666666;
}

.feature{
    background-color: #0077AA;
}

.bugfix{
    background-color: #AA0077;
}

.blue_anime{
    background-color: #009900;
    animation-name: background-blue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.yellow_anime{
    background: #D77C00;
    animation: background-yellow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.red_anime{
    background: #990000;
    animation: background-red;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.disabled_anime {
    background: #666666;
    animation: background-aborted;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.aborted_anime {
    background: #666666;
    animation: background-aborted;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.notbuilt_anime{
    background: #666666;
    animation: background-aborted;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes background-blue {
  0%   { background-color: #00e600; }
  100% { background-color: #009900; }
}

@keyframes background-yellow {
  0%   { background-color: #ffd599; }
  100% { background-color: #D77C00; }
}


@keyframes background-red {
  0%   { background-color: #ff6666; }
  100% { background-color: #990000; }
}


@keyframes background-aborted {
  0%   { background-color: #cccccc; }
  100% { background-color: #666666; }
}