<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>

<div class="container">

    <div id="result">
        <p th:if="${jenkinsJobs.isEmpty()}">
            No result found.
        </p>
        <div class="row">
            <div class="col-xs-6 col-md-3 buildbox" th:each="job : ${jenkinsJobs}">

                    <a href="#" class="thumbnail">
                        <div class="panel " th:classappend="${job.getColor()}">
                            <h1 th:text="${job.getName()}">feature/xyz</h1>
                            <h1><small>#866</small></h1>
                            <h1><small th:text="${job.getColor()}">bich152</small></h1>
                        </div>
                    </a>

            </div>
        </div>


        <!--<table class="table table-stripped" th:if="${not jenkinsJobs.isEmpty()}">
            <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jenkinsJobs}">
                <td th:text="${job.getColor()}"></td>
                <td th:text="${job.getName()}"></td>
            </tr>
            </tbody>
        </table>-->

    </div>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>