<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>

<div class="container">

    <div id="result">
        <p th:if="${jenkinsJobs.isEmpty()}">
            No result found.
        </p>
        <div class="row">
            <div class="col-xs-6 col-md-3 buildbox" th:each="job : ${jenkinsJobs}">
                <div class="panel" th:classappend="${job.getColor()}">
                    <a th:href="${job.getBuildUrl()}">
                        <h3 th:text="${job.getBranchName()}">feature/xyz</h3>
                        <h3><small th:text="${job.getBuildNumber()}">#866</small></h3>
                        <h3><small th:text="${job.getColor()}">bich152</small></h3>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>