<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>

<div class="swimlane">
    <font class="headline">Mainline</font>
    <p th:if="${jenkinsJobs.isEmpty()}">
        No result found.
    </p>
    <div class="container" th:if="${not jenkinsJobs.isEmpty()}">
        <div class="box" th:each="job : ${jenkinsJobs}">
            <div class="build" th:text="${job.getJiraTicket()}">
                TBBT-73
            </div>
            <div class="info " th:classappend="${job.getColor()}">
                <a th:href="${job.getBuildUrl()}">
                    <div class="heading" th:text="${job.getBranchName()}">
                        feature/TBBT-73-fix-me
                    </div>
                    <div class="subheading">
                        <img class="image" th:src="@{/img/group.png}" />
                        <p class="subheading" th:text="${job.getBuildNumber()}">866</p>
                    </div>
                    <div class="committers">
                        <img class="image" th:src="@{/img/group.png}"/>
                        <p class="committers" th:text="${job.getCulprits()}">Sheldon Cooper</p>
                    </div>
                </a>
            </div>
            <!--<div class="details">-->
                <!--<div class="history">-->
                    <!--<div class="health unstable" th:text="${job.getBuildNumber()-1}">-->
                        <!--1234-->
                    <!--</div>-->
                    <!--<div class="health failed" th:text="${job.getBuildNumber()-2}">-->
                        <!--2345-->
                    <!--</div>-->
                    <!--<div class="health stable" th:text="${job.getBuildNumber()-3}">-->
                        <!--3456-->
                    <!--</div>-->
                    <!--<div class="health stable" th:text="${job.getBuildNumber()-4}">-->
                        <!--4567-->
                    <!--</div>-->
                    <!--<div class="health aborted" th:text="${job.getBuildNumber()-5}">-->
                        <!--5678-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>